@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.div{
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    width: 400px;
    border-radius: 6px;
    margin: auto;
    margin-top: 20px;
}
